* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: x;
  margin: 0 auto;
  padding: 0 px;
  display: flex;
  justify-content: space-between;
  
}
.contu{
    height: 200px;
}
.tudo{
    margin-top: 80px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: linear-gradient(to right, #4CAF50, #2196F3);
  color: white;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0;
}


.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card i {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  color: #2196F3;
}

.galeria h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
}

.formulario {
  background: #f3f3f3;
  padding: 40px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  padding: 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background-color: #43a047;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
.fest1{
    height: 81%; ;
    width: 81px; ;
}
.contain{
    max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}